.vanilla-form {
  .vanilla-row {
    display: flex;
    &.vanilla-row-no-label {
      flex-direction: row-reverse;
    }
    .vanilla-form-item-label {
      flex-basis: 30%;
      text-align: end;
      padding-right: 20px;
      >label {
        margin-bottom: 0;
      }
      >label.vanilla-form-item-required:before {
        display: inline-block;
        margin-right: 4px;
        color: $danger;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: "*"
      }
    }
    .vanilla-form-item {
      flex-basis: 70%;
      position: relative;
      .vanilla-input-wrapper {
        border: none;
        margin-bottom: 0;
      }
      .vanilla-form-item-control {
        margin-bottom: 25px;
      }
      .vanilla-form-item-has-error.vanilla-form-item-control {
        .vanilla-input-inner {
          border: 1px solid $danger;
          &:focus {
            box-shadow: $input-focus-box-shadow-error;
          }
        }
      }
      .vanilla-form-item-explain {
        position: relative;
        top: -13px;
        left: 0;
        line-height: 7px;
        color: $danger;
      }
    }
  }
  .vanilla-form-submit-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}